@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* navigation and headers */

h3, nav {
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
}

nav .brand-logo {
    font-size: 1.5rem;
}

/* flashed messages */
.flashes h4 {
    line-height: 2;
}

/* dropdown option */
.select-wrapper input.select-dropdown {
    font-family: 'Architects Daughter', cursive;
}

/* form buttons */
.form-btn-container {
    display: flex;
    justify-content: center;
}

.form-btn {
    padding: 0.5rem;
}

/*card and card image */
.card {
    border-radius: 5%;
    overflow: hidden;
}

.card .card-image img {
    height: 200px;
}

img {
    border-style: none;
    width: 100%;
}

/* view activity style */
.flex-display {
    display: flex;
    justify-content: space-evenly;
}

/* footer social links */
.social li{
    display: inline-block;
    padding: 0 0.5rem
}

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;

}

  main {
    flex: 1 0 auto;
}


@media only screen and (min-width: 540px) {
    nav .brand-logo {
        font-size: 2.1rem;
    }
}