nav .brand-logo {
    font-size: 1.5rem;
}

.flashes h4 {
    line-height: 2;
}

/* footer social links */
.social li{
    display: inline-block;
    padding: 0 0.5rem
}

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
}

@media only screen and (min-width: 540px) {
    nav .brand-logo {
        font-size: 2.1rem;
    }
}