{% extends "base.html" %}
{% block content%}
<h3 class="center-align green-text text-darken-3">Add Walk</h3>

<div class="row card-panel green lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix green-text text-darken-3">folder_open</i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose category</option>
                    {% for category in categories %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
                <label for="category_name"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix green-text text-darken-3">edit</i>
                <input id="walk_title" name="walk_title" type="text" minlength="5" maxlength="50" 
                    class="validate" required>
                <label for="walk_title">Walk Title</label>
                <span class="helper-text" data-error="Title too short" data-success="Alright here"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix green-text text-darken-3">description</i>
                <textarea id="walk_description" name="walk_description" minlength="5" maxlength="200" 
                    class="materialize-textarea validate" required></textarea>
                <label for="walk_description">Walk description</label>
                <span class="helper-text" data-error="Description too short" data-success="Alright here"></span>
            </div>
        </div>
    </form>
</div>
{% endblock %}