{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel green lighten-5">
                <h3 class="center-align green-text text-darken-3">
                    Hi, {{ username }}
                </h3>
                <p class="center-align">Here you can check your walks, add, edit or delete them.</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% for walk in walks %}
        <div class="col s12 m6 xl4">
            <div class="card hoverable">
              <div class="card-image">
                <a href="{{ url_for('view_walk', walk_id=walk._id) }}">
                  <img src="{{ walk.walk_image }}">
                </a>
              </div>
              <div class="card-content">
                <span class="card-title text-center">{{ walk.walk_title }}</span>
                <p class="truncate">{{ walk.walk_description }}</p>
                <p><em>Shared by: {{ walk.shared_by }}</em></p>
              </div>
              <div class="card-action">
                <a href="#"><i class="fas fa-ruler-horizontal green-text text-darken-2"> {{ walk.walk_length }}</i></a>
                <a href="#"><i class="fas fa-child green-text text-darken-2 right"> {{ walk.walk_age }}</i></a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

    
{% endblock %}