{% extends "base.html" %}
{% block content %}

    <div class="row card-panel green lighten-5">
        <div class="row">
            <div class="back-button-container col s6 m8 l10">
                <a href="{{ url_for('get_walks') }}" class="btn " aria-label="back to activities button">
                    <i class="fas fa-undo-alt left"></i> Back
                </a>
            </div>
            {% if session.user|lower == walk.shared_by|lower %}
            <div class="col s3 m2 l1 center-align">
                <a href="#deleteModal" class="btn-floating modal-trigger center-align hoverable">
                   <i class="material-icons">delete_forever</i>
                </a>
            </div>
            <div class="col s3 m2 l1 center-align">
                <a href="{{ url_for('edit_walk', walk_id=walk._id)}}" class="btn-floating center-align hoverable">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            {% endif %}
        </div>
        
        <!-- walk title -->
        <div class="row">
            <div class="col s12">
                <h3 class="center">{{ walk.walk_title }}</h3>
            </div>
        </div>
        <!-- walk summary -->
        <div class="row">
            <div class="col s12 flex-display">
                <p><i class="fas fa-ruler-horizontal green-text text-darken-2"> {{ walk.walk_length }}</i></p>
                <p><i class="fas fa-child green-text text-darken-2 right"> {{ walk.walk_age }}</i></p>
                <p><i class="far fa-user green-text text-darken-2 right"> {{ walk.shared_by }}</i></p>
            </div>
            
        </div>
        <!-- walk image and description-->
        <div class="row">
            <div class="col s12 m6">
                <a href="#">
                    <img src="{{ walk.walk_image }}" alt="{{ walk.walk_title }}">
                </a>
            </div>
            <div class="col s12 m6">
                <p>{{ walk.walk_description }}</p>
            </div>
            <div class="col s12 center">
                Facilities: {{ walk.walk_facilities}}
                
            </div>
        </div>
    </div>
    <!-- modal -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
          <h4>Delete is forever!</h4>
          <p>Do you wish to remove <b>{{walk.walk_title}}</b> from the website?</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('view_walk', walk_id=walk._id) }}" class="btn modal-close waves-effect waves green darken-2">Cancel
                <i class="material-icons right">cancel</i>
            </a>
            <a href="{{ url_for('delete_walk', walk_id=walk._id) }}" class="btn modal-close waves-effect waves-green amber darken-3">Delete
                <i class="material-icons right">delete_forever</i>
            </a>
        </div>
      </div>
{% endblock %}